@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Paleta de cores */
:root {
    --cor-primaria: #001118;
    --cor-secundaria: #003E29;
    --cor-terciaria: #2A6044;
    --cor-titulo: #578d71;
    --cor-texto: #e7faf5;
} 

* {
    margin: 0;
    padding: 0;
    font-family: Cousine;
    color: var(--cor-texto);
}

body {
    background-image: url('https://conteudo.imguol.com.br/c/entretenimento/70/2021/05/25/codigo-binario-1621982130311_v2_900x506.jpg');
    height: 49vw;
}

.header {
    background-color: var(--cor-primaria);
    border-bottom: 3px solid var(--cor-secundaria);
    padding: 1.5% 0;
    text-align: center;
}

.titulo {
    font-family: 'B612 Mono', sans-serif;
    font-weight: 500;
    color: var(--cor-titulo);
}

/* Início da caixa principal */
.container {
    max-width: 550px;
    margin: 4% auto;
}

.content {
    background-color: var(--cor-primaria);
    padding: 28px 20px;
    border-radius: 8px;
    box-shadow: 0 14px 189px rgb(10, 128, 88);
    margin-bottom: 7%;
}

.box {
    padding: 5% 6%;
}

.information {
    margin-bottom: 8%;
}

.information-span {
    font-family: 'B612 Mono', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-titulo);
}

/* Definição - input */
.information input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1.999px solid var(--cor-terciaria); 
    font-size: 14px;
    font-weight: 500;
    width: 202px;
    color: #8d8b8b;
}

.content-principal {
    font-size: 15px;
    margin-bottom: 6%;
}

/* Definiçao - select */
#select_baseConversao{
    background-color: var(--cor-primaria);
    color: var(--cor-titulo);
    border-color: var(--cor-terciaria);
    border-radius: 9px;
    padding: 5px;
    padding-right: 120px;
    margin: 9px 0 6px 0;
    font-size: 15px;
    font-weight: 600;
    box-sizing: border-box; 
    outline: none; 
}

/* Definição - checkbox ------------------------- */
.check-convesao {
    font-size: 15px;
}

.checkbox-wrapper-2 {
    margin-top: 2%;
}

.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: transparent;
    border: 1.999px solid var(--cor-titulo); 
    border-radius: 22px;
    flex-shrink: 0;
    height: 20px;
    margin: 4px 0 0 0;
    position: relative;
    width: 38px;
}

.checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    right: -6px;
    top: -6px;
    position: absolute;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
    background-color: var(--cor-titulo);
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    top: 2px;
    position: absolute;
    width: 13px;
}

.checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #0d222c;
    transition-duration: 0.5s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
    background-color: var(--cor-titulo);
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 20px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: rgb(77, 122, 99);
}
/* fim checkbox ------------------------- */


/* Estilizaçaõ do BOTÃO */
.button {
    background-color: transparent;
    color: var(--cor-titulo);
    border: 1.9px solid var(--cor-titulo);
    border-radius: 9px;
    box-sizing: border-box; 
    padding: 7px;
    font-size: 14px; 
    font-weight: 500;
    margin: 8% 0 0 34%;
    width: 34%;  
    cursor: pointer; 
}

.button:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-weight: 600;
    transition: background-color 0.4s;
}


/* box - resultado FINAL */
.resultado {
    background-color: var(--cor-primaria);
    /* max-width: 500px; */
    display: none; 
    padding: 26px 34px;
    border-radius: 8px;
    box-shadow: 0 14px 99px rgb(3, 46, 31); 
}

.resultado-final {
    padding: 0 0 1.5% 0;
    font-family: 600;
    color: var(--cor-titulo);
}

.hidden {
    display: none;
}

#show {
    font-size: 16px;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #d2d0d4;
    border: 222px solid #63666A;
    text-align: left;
    display: none;
}


/*---------- POP UP ----------*/
.modal { 
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}

.containerPopUp {
    background-color: #c6e4d5fb;
    margin: 13% auto;
    padding: 50px;
    width: 80%;
    max-width: 450px;
    border-radius: 8px;
}

.welcome-phrase {
    color: var(--cor-titulo);
    font-weight: bold;
    margin-bottom: 4%;
}

.paragrafo-descricao {
    color: var(--cor-primaria);
    line-height: 18px;
    margin-bottom: 10px;
}

.close {
    color: #e10808;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: -20px 0 0 90px;
}

.close:hover,
.close:focus {
    color: var(--cor-secundaria);
    text-decoration: none;
    cursor: pointer;
}


/* Responsividade */
@media (max-width: 468px) {
    .header {
        padding: 4%;
    }

    .titulo {
        font-size: 24px;
    }

    .content {
        max-width: 390px;
        margin: 12% 0 0 4.5%;
    }

    .information-span {
        font-size: 18px;
    }

    .information input {
        width: 110px;
    }

    /* Div - RESULTADO FINAL */
    .resultado {
        max-width: 360px;
        margin: 8% 0 0 5%;
    }

    .modal { 
        display: none;
    }
}